@import "../../SCSS/variables";

.header-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

h1 {
    color: $--Main-text-color;
    font-size: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}